body {background-color: #808080;
}
h1 {color: #DCDCDC;
	font-family:Century; 
	font-size: 66px;
}
p {color: #D3D3D3; 
	font-family:Times new romans;
	font-size: 40px;
}
h2 {color: #DCDCDC;
	font-family:Century; 
	font-size: 66px;